__*/
Backups/
BuildPictures/
Graphics/
References/
ActualCosts/
OldVersions/
MasterBOM/
PDF/
SerialInterface*/
dist/
debug/
build/
bin/
disassembly/
xbuild/
xdist/
nbproject/
Makefile
Settings/
arch/
mcc_generated_files/
.vscode/

*.obj
funclist
.directory
*.inc
*.csv
