__*/
Backups/
BuildPictures/
Graphics/
References/
ActualCosts/
OldVersions/
MasterBOM/
PDF/
SerialInterface*/
pHAndORP*/
dist/
debug/
build/
*.obj
funclist
.directory
*.inc
bin/
disassembly/
xbuild/
xdist/
nbproject/
Makefile
chips/
